{
  "semi": true,
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none"
}
